<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <!-- ajax를 통해 뿌려줄 데이터 -->

<tr>    
    <th:block th:each="item : ${items}">
		<td>
			<!--
			<img class="img-normal" th:src="${data.getItem().getPhotoList().get(0).getFilePath()}" alt="기본사진">
			<img class="img-hover" src="/images/test/photo-1-hover.jpg" alt="호버사진">
			<p class="gender">
				남/여
			</p>
			-->

			<th:block th:each="photo : ${photoList.get(item.no)}">
				<!-- 저장된 사진 갯수만큼 반복하기로 함 -->
				<img class="img-item" th:src="${photo.filePath}">
			</th:block>
			<p class="item-brand">[[${item.brand}]]</p>
			<p class="flex">
				<!-- <span class="item-tag">[오리지널 라인]</span> -->
				<span class="item-name">[[${item.name}]]</span>
			</p>
			<p>
				<!--정가-->
				<th:block th:if="${item.price} != ${item.sellPrice}">
					<sapn class="item-price">&#92; [[${item.price}]]</sapn>
				</th:block>
				<!--판매가-->
				<span class="item-sell-price">&#92; [[${item.sellPrice}]]</span>
			</p>
		</td>		
    </th:block>
</tr>
</html>