<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <!-- ajax를 통해 뿌려줄 데이터 -->

<th:block th:each="item, k : ${items}">
	<div class="item-card">	
		<th:block th:if="${photoSize.get(item.no) == 1}">
			<!-- 사진이 한장일 경우, 한장을 2번 보여줌 (hover와의 규칙성을 위해) -->
			<th:block th:each="photo : ${photoList.get(item.no)}">
				<img class="img-item" th:src="${photo.filePath}" alt="기본">
				<img class="img-item" th:src="${photo.filePath}" alt="호버">
			</th:block>
		</th:block>
		<th:block th:unless="${photoSize.get(item.no) == 1}">
			<!-- 사진이 3장 이상일 경우, 2장까지만 보여줌 -->
			<th:block th:each="photo, i : ${photoList.get(item.no)}">
				<img th:if="${i.index < 2}" class="img-item" th:src="${photo.filePath}" th:alt="${i.index}">
			</th:block>
		</th:block>
		
		<p class="item-brand">[[${item.brand}]]</p>
		<p class="flex">
			<!-- <span class="item-tag">[오리지널 라인]</span> -->
			<span class="item-name">[[${item.name}]]</span>
		</p>
		<p>
			<!--정가-->
			<th:block th:if="${item.price} != ${item.sellPrice}">
				<span class="item-price">&#92; [[${item.price}]]</span>
			</th:block>
			<!--판매가-->
			<span class="item-sell-price">&#92; [[${item.sellPrice}]]</span>
		</p>
	</div>
</th:block>

</html>