<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/common/commons::head"></th:block>
	<title>클론 코딩 - LSNmall : 제품 업로드</title>
	<link rel="stylesheet" href="/css/admin/item.css">
	<script src="/js/admin/item.js"></script>
</head>
<body>
	<header th:insert="/common/commons::header"></header>
	<main>
		<h1>관리자 페이지 - 상품</h1>
		<div class="wrap flex">
            <nav id="admin-menu" th:include="/admin/menu::menu">
                <!-- menu.html 의 내용을 가져옴 -->
            </nav>
            <div id="main-page">
                <h1>상품 등록 화면</h1>
                <section id="item-upload">
                    <h1>상품 등록 폼</h1>
                    <p class="title">상품 등록</p>
                    <hr>
                    <form action="/admin/item/write" method="POST" enctype="multipart/form-data">
                        <p>
                            <label for="large">대분류</label>
                            <select id="large" name="largeCategory" required="required">
                                <option value="">선택</option>
                                <th:block th:each="lc : ${large}">
                                    <option th:value="${lc}" th:text="${lc.getTitle()}"></option>
                                </th:block>
                            </select>
                        </p>
                        <p>
                            <!-- 소분류 -->
                            <label for="small">소분류</label>
                            <select id="small" name="smallCategory" required="required">
                                <option value="">선택</option>
                                <th:block th:each="lc : ${large}">
                                	<optgroup th:label="${lc.getTitle()}" class="opt-group" th:id="'opt-'+${lc}">
                                		<th:block th:each="sc : ${small}" th:if="${sc.getLarge()} == ${lc.getTitle()}">
                                        	<option th:value="${sc}" th:text="${sc.getTitle()}"></option>
                                    	</th:block>
                                	</optgroup>
                                </th:block>
                            </select>
                        </p>
                        <p>
                            <label for="brand">브랜드</label>
                            <input type="text" name="brand" placeholder="프로스펙스 등" required="required">
                        </p>
                        <p>
                            <label for="item-name">제품명</label>
                            <input type="text" id="item-name" name="name" required="required">
                        </p>
                        <p>
                            <label for="price">정가</label>
                            <input type="number" id="price" name="price" min="0" required="required">
                        </p>
                        <p>
                            <label for="sell-price">판매가</label>
                            <input type="number" id="sell-price" name="sellPrice" min="0" required="required">
                        </p>
                        <p>
                            <label for="photo">제품사진 등록</label>
                            <input type="file" id="photo" name="files[]" multiple="multiple" required="required">
                            <span>한 장 이상의 제품 사진 등록이 필요합니다.</span>
                        </p>
                        <p>
                            <button type="submit">업로드</button>
                            <span class="msg">[[${msg}]]</span>
                        </p>
                    </form>
                </section>
            </div>
		</div>
	</main>
	<footer  th:insert="/common/commons::footer"></footer>
</body>
</html>