<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/common/commons::head"></th:block>
	<title>테스트 페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    
    <style type="text/css">
    	#file-input {
    		display: none;
    	}
    	
    	#file-label {
    		display: inline-block;
    		width: 384px;
    		height: 100px;
    		border: 2px dashed aqua;
    		color: aqua;
    		text-align: center;
    		line-height: 214px;
    		font-size: 24px;
    		font-weight: 700;
    		
    		background-color: rgba(0, 255, 255, 0.1);
    		background-repeat: no-repeat;
    		background-position: center;
    		background-size: cover;	
    	}
    </style>
    
    <script type="text/javascript">
    	$(function() {
    		$("#file-input").on("change", function() {
    			// 파일이 적용될 때(파일의 value가 변경될 때 마다) 이미지 업로드
    			
    			var file = $("#file-input")[0].files[0];
    			
    			var formData = new FormData();
    			formData.append("file", file);
    			
				//console.log(file);
    			
    			$.ajax({
    				url: "/test/file/temp",
    				data: formData,
    				type: "post",
    				contentType: false,
    				processData: false,
    				success: function(result) {
    					
    					if (result === null) {
    						alert("파일 용량 초과!");
    					} else {
    						$("#file-label").css("background-image", "url(" + result + ")");
    					}
    				}
    			});
    			
    			
    		});
    	});
    	  </script>
</head>
<body>
	<header th:insert="/common/commons::header"></header>
	<main>
		<h1>관리자 페이지</h1>
		<div class="wrap flex">
            <nav id="admin-menu" th:include="/admin/menu::menu">
                <!-- menu.html 의 내용을 가져옴 -->
            </nav>
            <div id="main-page">
                <h1>현재 페이지의 메인 화면</h1>
                <section>
                    <div class="wrap">
                    	<p>영화정보 등록페이지</p>
                    	<form action="/test/file/write" method="post" enctype="multipart/form-data">
                    		<p>
                    			<label for="file-input" id="file-label"></label>
                    			<input type="file" name="file" id="file-input" />
                    		</p>
                    		<p>
                    			<label for="title-input">제목</label>
                    			<input type="text" name="title" id="title-input" placeholder="제목 입력"/>
                    		</p>
                    		<p>
                    			<label for="start-date">시작일</label>
                    			<input type="datetime-local" name="startDate" id="start-date"/>
                    		</p>
                    		<p>
                    			<label for="end-date">종료일</label>
                    			<input type="datetime-local" name="endDate" id="end-date"/>
                    		</p>
                    		<p>
                    			<button type="submit">등록</button>
                    		</p>
                    	</form>
                    </div>
                </section>
            </div>
		</div>
	</main>
	<footer  th:insert="/common/commons::footer"></footer>
</body>
</html>