<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/common/commons::head"></th:block>
	<title>클론 코딩 - LSNmall : 고객센터</title>
	<link rel="stylesheet" href="/css/cs/index.css">
	<script src="/js/cs/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>
<body>
	<header th:insert="/common/commons::header"></header>
	<main>
		<h1>고객센터</h1>
		<div class="wrap flex">
            <nav id="cs-menu" th:include="/cs/menu::menu">
                <!-- menu.html 의 내용을 가져옴 -->
            </nav>
            <div id="main-page">
                <h1>현재 페이지의 메인 화면</h1>
                <section id="quick-btn">
                    <h1>퀵 버튼</h1>
                    <div class="wrap">
                        <ul class="flex">
                            <li>
                                <!-- id/pw 찾기 -->
                                <a href="#">
                                    <i class="far fa-address-card"></i>
                                    <span>ID/PW 찾기</span>
                                </a>
                            </li>
                            <li>
                                <!-- 회원정보수정 -->
                                <a href="#">
                                    <i class="far fa-edit"></i>
                                    <span>회원정보수정</span>
                                </a>
                            </li>
                            <li>
                                <!-- 주문/배송조회 -->
                                <a href="#">
                                    <i class="fas fa-truck-loading"></i>
                                    <span>주문/배송조회</span>
                                </a>
                            </li>
                            <li>
                                <!-- 취소/교환/반품 신청 -->
                                <a href="#">
                                    <i class="fas fa-undo"></i>
                                    <span>취소/교환/반품 신청</span>
                                </a>
                            </li>
                            <li>
                                <!-- 회원혜택 -->
                                <a href="#">
                                    <i class="fas fa-user-plus"></i>
                                    <span>회원혜택</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <section id="faq-search">
                    <h1>FAQ 검색</h1>
                    <div class="wrap flex">
                        <span>FAQ SEARCH</span>
                        <input type="text"/>
                        <button type="button">검색</button>
                    </div>
                </section>
                <section id="faq-top">
                    <h1>자주묻는 질문</h1>
                    <div class="wrap">
                        <ul>
                            <li>
                                <span>FAQ TOP5</span>
                                <span>고객님께서 가장 많이 찾으시는 질문입니다.</span>
                            </li>
                            <li>
                                <a href="/cs/faq">MORE &gt;</a>
                            </li>
                        </ul>
                        <ol>
                            <li>
                                <div class="faq-title">
                                    <div>
                                        <p class="faq-teg">취소,교환,반품관련</p>
                                        <span class="question">Q</span>
                                        <span class="question-title">
                                            교환/반품 기준 및 절차는 어떻게 되나요?
                                        </span>
                                    </div>
                                    <div class="icon-pn"><!-- +, - 아이콘 이미지 --></div>
                                </div>
                                <p class="faq-content">
                                    <span class="answer">A</span> LSNmall 교환/반품 기준 및 절차는 아래의 내용을 확인해주시기 바랍니다. <br> <br>
                                    <strong>[교환/반품 기준]</strong> <br>
                                    1. 모든 상품은 상품을 공급받으신 날로부터 7일 이내 교환/반품 신청이 가능 합니다. <br>
                                    2. 상품을 미사용한 상태에서 반송하여 주십시오. <br>
                                    3. 물류센터에 반송된 상품의 입고 여부가 확인된 후에 검품을 거쳐 환불하여 드립니다. <br>
                                    4. 고객님의 단순 변심으로 인한 상품의 교환/반품을 요청하시는 경우, 택배 비용은 고객님 부담이오니 이점 양해 바랍니다. <br>
                                    5. 전자상거래 등에서의 소비자보호에 관한 법률 제17조 (청약철회 등) 에 의거 상품의 반품이 불가능한 경우 교환 및 반품이 되지 않습니다. <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;㉠ 고객님의 책임 있는 사유로 상품 등이 멸실 또는 훼손된 경우. (단, 상품의 내용을 확인하기 위하여 포장 등을 훼손한 경우는 제외) <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;㉡ 포장을 개봉하였거나 포장이 훼손되어 상품가치가 현저히 상실된 경우 <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;㉢ 모든 상품의 Tag, 상품스티커, 비닐포장, 상품케이스(정품박스) 등을 훼손 및 멸실한 경우 <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;㉣ 시간의 경과에 의하여 재판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우 <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;㉤ 구매하신 상품의 구성(사은)품이 누락된 경우 (단, 그 구성품이 훼손 없이 회수가 가능한 경우 제외) <br> <br>

                                    <strong>[교환/반품 신청]</strong> <br>
                                    ① 교환/반품은 <strong>[MYPAGE > 쇼핑내역 > 교환/반품/취소 신청]</strong>에서 신청 가능합니다. <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;교환/반품 신청을 하시면, 상품 회수를 위해 CJ대한통운 택배기사가 방문하게 됩니다. ( 2~3일 이내 ) <br>
                                    ※ 택배비는 전산 처리되므로 선불 지급하거나 동봉하지 마시고, 타 택배로 도착할 경우 환불이 되지 않습니다. <br> <br>
                                    ② 사이즈가 맞지 않거나 고객님의 변심에 의한 교환 접수 시 왕복 배송비용을 부담하셔야 합니다. <br>
                                    ※ 교환은 같은 상품의 사이즈 교환만 가능하며, 색상 교환의 경우에는 원주문을 취소하신 후 재주문해 주시기 바랍니다. <br> <br>
                                    ※ 그 밖의 궁금하신 내용은 [1:1문의] 또는 <strong>고객센터(☎ 080-710-1020)</strong>로 문의해 주시기 바랍니다. <br>
                                </p>
                            </li>
                            <li>
                                <div class="faq-title">
                                    <div>
                                        <p class="faq-teg">취소,교환,반품관련</p>
                                        <span class="question">Q</span>
                                        <span class="question-title">
                                            온라인 주문상품을 매장에서 교환이나 반품이 가능한가요?
                                        </span>
                                    </div>
                                    <div class="icon-pn"><!-- +, - 아이콘 이미지 --></div>
                                </div>
                                <p class="faq-content">
                                    <span class="answer">A</span>                                    
                                    현재는 LSNmall 온라인에서 구매한 상품은 매장에서 교환/반품이 불가능합니다. <br>
                                    향후, 고객님의 편의를 위해 온라인 주문상품에 대해 매장에서도 교환/반품이 가능하도록 서비스를 마련토록 하겠습니다. <br> <br>

                                    온라인 교환/반품 절차는 아래와 같이 진행되고 있습니다. <br> <br>

                                    <strong>1. 배송 전, 취소를 하신 경우</strong> <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;㉠ 신용카드 결제 : - 주문취소 후 즉시 카드사로 카드승인 취소 요청이 이루어지며, 승인 취소 처리는 카드사 사정에 따라 약 4~5일 정도 소요됩니다. <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;또한, 이용하신 신용카드에 따라 환불(취소)금액이 자동 차감(승인 취소)되거나 재결제가 발생할 수 있습니다. <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;㉡ 실시간계좌이체, 무통장입금 : - 고객님의 등록된 환불계좌로 영업일 기준 2일 이내로 받으실 수 있습니다. (단 토, 일, 공휴일은 제외) <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;㉢ 할인쿠폰 : - 한 번 사용하신 쿠폰은 재사용하실 수 없습니다. <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;㉣ 포인트 : - 포인트는 가용포인트로 재적립 됩니다. <br> <br>
                                    
                                    <strong>배송 후, 반품을 하신 경우</strong> <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;㉠ LSNmall 상품 : 반품 접수된 상품이 물류센터에 입고되어 검품 작업이 완료된 이후 반품/환불처리가 가능합니다. <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;㉡ 고객변심에 의한 반품접수 시 택배비가 부과되며, 택배비는 상품에 따라 다르게 청구될 수 있습니다. <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;㉣ 결제수단에 따른 환불 진행방법은 상단의 1번(배송 전 취소를 하신 경우)의 내용과 동일 합니다. <br> <br>

                                    ※ 그 밖의 궁금하신 내용은 [1:1문의] 또는 <strong>고객센터(☎ 080-710-1020)</strong>로 문의해 주시기 바랍니다. <br>
                                </p>
                            </li>
                            <li>
                                <div class="faq-title">
                                    <div>
                                        <p class="faq-teg">쿠폰,포인트관련</p>
                                        <span class="question">Q</span>
                                        <span class="question-title">
                                            쿠폰이 있는데 사용이 불가능합니다. 어떻게 해야 하나요?
                                        </span>
                                    </div>
                                    <div class="icon-pn"><!-- +, - 아이콘 이미지 --></div>
                                </div>
                                <p class="faq-content">
                                    <span class="answer">A</span>                                    
                                    보유쿠폰이 있는데, 주문/결제 > 쿠폰조회/적용 페이지에서 보이지 않는 경우에는 아래 내용을 확인해 주시기 바랍니다. <br> <br>
                                    1. 상품/프로모션 쿠폰은 다운로드 후 사용가능하므로, 사용하시려는 쿠폰을 다운로드 받으셨는지 확인 바랍니다. <br>
                                    2. 쿠폰마다 적용 가능한 최소 구매금액이 있습니다. 구매하시려는 상품금액이 적용 가능한 금액인지 확인 바랍니다. <br>
                                    3. 정액(원) 쿠폰은 최소사용금액이 할인금액보다 커야 합니다. <br>
                                    4. 정률(%) 쿠폰은 최대 할인이 제한 되어 있을 수 있습니다. <br>
                                    5. 쿠폰의 발급기간과 사용기간이 상이 할 수 있습니다. <br>
                                    6. 할인 중복적용이 가능한 쿠폰인지 확인하시기 바랍니다. <br>
                                    7. 특정 브랜드, 상품, 카테고리 단위로 쿠폰적용이 제외되는 상품이 있을 수 있습니다. <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;구매하시려는 상품이 해당쿠폰이 적용가능한 상품인지 확인 바랍니다. <br> <br>
                                    
                                    고객님의 보유쿠폰은 <strong>[MYPAGE > 쇼핑혜택 > 사용가능한쿠폰]</strong> 메뉴에서 조회 가능합니다.
                                </p>
                            </li>
                            <li>
                                <div class="faq-title">
                                    <div>
                                        <p class="faq-teg">상품/기타관련</p>
                                        <span class="question">Q</span>
                                        <span class="question-title">
                                            구매할 때와 가격이 달라졌어요.
                                        </span>
                                    </div>
                                    <div class="icon-pn"><!-- +, - 아이콘 이미지 --></div>
                                </div>
                                <p class="faq-content">
                                    <span class="answer">A</span>                                    
                                    구매 가격은 프로모션, 이벤트 등에 따라 변동될 수 있습니다. <br> <br>
                                    
                                    구매하시는 시점을 기준으로 가격이 결정되며, 구매 후의 가격 변동분에 대한 차액 추가지불이나 추가할인이 되지 않습니다. <br>
                                </p>
                            </li>
                            <li>
                                <div class="faq-title">
                                    <div>
                                        <p class="faq-teg">회원관련</p>
                                        <span class="question">Q</span>
                                        <span class="question-title">
                                            비밀번호를 틀리게 입력하면 어떻게 되나요?
                                        </span>
                                    </div>
                                    <div class="icon-pn"><!-- +, - 아이콘 이미지 --></div>
                                </div>
                                <p class="faq-content">
                                    <span class="answer">A</span>                                    
                                    임시비밀번호 확인이 어려운 경우 [1:1문의] 또는 <strong>고객센터(☎ 080-710-1020)</strong>로 문의 주시면 확인 후 안내해 드리도록 하겠습니다. <br>                            
                                </p>
                            </li>
                        </ol>
                    </div>
                </section>
            </div>
		</div>
	</main>
	<footer  th:insert="/common/commons::footer"></footer>
</body>
</html>