@charset "UTF-8";
@import url(/css/common.css);

main>.wrap {
    width: 1280px;
    color: #222;
    font-size: 15px;
    padding: 0 40px;
    margin: 0 auto;
}

#title p {
    text-align: center;
    font-size: 44px;
    font-weight: 800;
    margin: 50px 0 20px;
}

#item-list>.wrap {
    width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

#item-list>.wrap table tr td {
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
}

#item-list>.wrap table tr td img {
    width: 245px;
    height: 245px;
}