<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:include="/common/commons::head"></th:block>
	<title>클론 코딩 - LSNmall : FAQ</title>
	<link rel="stylesheet" href="/css/cs/faq/list.css">
	<script src="/js/cs/faq/list.js"></script>
</head>
<body>
	<header th:insert="/common/commons::header"></header>
	<main>
		<h1>FAQ</h1>
		<div class="wrap flex">
            <nav id="cs-menu" th:include="/cs/menu::menu">
                <!-- menu.html 의 내용을 가져옴 -->
            </nav>
            <div id="main-page">
                <h1>좌측 메뉴를 제외한 메인 화면</h1>
                <section id="main-title">
                    <span>FAQ 게시판</span>
                    <th:block sec:authorize="hasRole('ADMIN')">
						<!-- 로그인 성공했을 경우 -->
                        <a href="/cs/faq/write">FAQ 작성</a>
					</th:block>
                </section>
                <section id="faq-search">
                    <h1>FAQ 검색</h1>
                    <div class="wrap flex">
                        <span>FAQ SEARCH</span>
                        <input type="text"/>
                        <button type="button">검색</button>
                    </div>
                </section>
                <section id="faq-board">
                    <ul id="faq-tag" class="flex">
                        <li>회원</li>
                        <li>배송</li>
                        <li>주문/결제</li>
                        <li>교환/반품/취소</li>
                        <li>쿠폰/포인트</li>
                        <li>상품</li>
                    </ul>
                    <table>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>내용</th>
                                <th><!-- + , - 기호 --></th>
                            </tr>
                        </thead>
                        <tbody id="faq-data">
                            <!-- ajax를 통해 가져온 데이터 출력 -->
                            <!--
                                tr
                                    td 번호
                                    td
                                        p 분류
                                        span.question-title Q
                                        span.question-title 제목
                                    td
                                        div.icon-pn
                                tr
                                tr
                                    td
                                    td
                                        span.answer A
                                        span.answer-content 내용
                                    td
                                tr

                            -->
                        </tbody>
                    </table>
                </section>
            </div>
		</div>
	</main>
	<footer  th:insert="/common/commons::footer"></footer>
</body>
</html>