@charset "UTF-8";
@import url("/css/common.css");
@import url("/css/cs/menu.css");
/* 고객센터의 index */

main>.wrap {
    width: 1280px;
    padding: 20px 40px;
    margin: 0 auto;
}

/*
 header
*/

#main-page {
    padding: 40px;
    border-left: 1px solid #999;
}

#main-title p {
    font-size: 44px;
    font-weight: 700;
}

/*
    notice 검색창
*/

#notice-search>.wrap {
    margin: 30px auto 70px;
    padding: 35px 0;
    width: 1000px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    justify-content: center;
}

#notice-search>.wrap * {
    margin: 0 20px;
}

#notice-search>.wrap span {
    font-size: 15px;
    line-height: 35px;
    font-weight: 700;
    color: #222;
}

#notice-search>.wrap input {
    width: 30em;
    padding: 5px 7px;
    font-size: 15px;
    outline: none;
    border: 1px solid #666;
}

#notice-search>.wrap button {
    width: 80px;
    height: 35px;
    font-size: 13px;
    font-weight: 700;
    padding: 0 12px;
    color: #fff;
    background-color: #000;
    border: none;
}

#notice-board table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #000;
    font-size: 13px;
}

#notice-board table tr th {
    background-color: #f5f5f5;
}

#notice-board table tr th,
#notice-board table tr td {
    text-align: center;
    padding: 1.5em 1em;
    border-bottom: 1px solid #999;
}

#notice-board table tr th:nth-child(1),
#notice-board table tr td:nth-child(1) {
    width: 10%;
}

#notice-board table tr th:nth-child(2),
#notice-board table tr td:nth-child(2) {
    width: 75%;
    font-weight: 700;
}

#notice-board table tr td:nth-child(2) {
    text-align: left;
}

#notice-board table tr th:nth-child(3),
#notice-board table tr td:nth-child(3) {
    width: 15%;
}

#notice-board table tr td:nth-child(3) {
    color: #666;
}