@charset "UTF-8";
@import url("/css/common.css");
@import url("/css/admin/menu.css");
/* 관리자 페이지의 index */

main>.wrap {
    width: 1280px;
    padding: 20px 40px;
    margin: 0 auto;
}

#main-page .title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

#item-upload form {
    width: 1000px;
}

#item-upload form p {
    margin: 20px 0;
    height: 34px;
}

#item-upload form p label {
    display: inline-block;
    width: 7em;
    margin-right: 5px;
    font-weight: 700;
}

#item-upload form p select,
#item-upload form p input {
    padding: 5px 3px;
    width: 15em;
}

#item-upload form p span {
	line-height: 34px;	
}

#item-upload form p button {
    padding: 20px 40px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: 700;
/*     cursor: pointer; */
}

#item-upload form .msg {
	padding-left: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #F77527;
}