@charset "UTF-8";
@import url(/css/common.css);

main>.wrap {
    width: 1280px;
    color: #222;
    font-size: 15px;
    padding: 0 40px;
    margin: 0 auto;
}

#title p {
    text-align: center;
    font-size: 44px;
    font-weight: 800;
    margin: 50px 0 20px;
}

#title div ul {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#title div ul li {
    margin: 0 1em;
    padding: 0.5em 0;
    font-size: 17px;
    font-weight: 700;
    color: #999;
    cursor: pointer;
}

#title div ul li.clicked,
#title div ul li:hover {
    color: #E76C1F;
    border-bottom: 2px solid #E76C1F;
}

/*
********** 아이템 목록 영역 **********
*/

#item-list>.wrap {
    padding: 20px 0 50px;
}

#item-list>.wrap ul {
    justify-content: flex-end;
    margin: 40px 0 50px;
}

#item-list>.wrap ul li {
    margin-left: 2em;
    font-size: 15px;
    font-weight: 700;
}

#item-list>.wrap ul li.clicked {
    color: #F77527;
}

#item-list>.wrap .grid {
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(350px, auto);
}

#item-list>.wrap .grid .item-card {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    margin: 0 auto 20px;
    width: 275px;
    cursor: pointer;
}

#item-list>.wrap .grid .item-card img {
	display: block;
    width: 245px;
    height: 245px;
}

#item-list>.wrap .grid .item-card img:nth-child(2) {
	display: none;
}

#item-list>.wrap .grid .item-card:hover img:nth-child(1) {
	display: none;
}

#item-list>.wrap .grid .item-card:hover img:nth-child(2) {
	display: block;	
}

#item-list>.wrap .grid .item-card p {
    text-align: left;
    width: 270px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 5px 0;
}

#item-list>.wrap .grid .item-card .gender {
    text-align: right;
}

#item-list>.wrap .grid .item-card .item-brand {
    font-size: 13px;
}

#item-list>.wrap .grid .item-card p .item-tag {
    font-size: 13px;
    color: #222;
    margin-right: 3px;
}

#item-list>.wrap .grid .item-card p .item-name {
    font-size: 13px;
    color: #666;
}

#item-list>.wrap .grid .item-card p .item-price {
    color: #B1B1B1;
    font-size: 15px;
    font-weight: 700;
    text-decoration: line-through;
}

#item-list>.wrap .grid .item-card p .item-sell-price {
    color: #222;
    font-size: 15px;
    font-weight: 700;
}

